@model UsuariosModel

@{
    ViewData["Title"] = "Criar Usuário";
}



<div class="container-usuarios">

    <h1>Adicionar Usuario</h1>

    <form asp-controller="Usuarios" asp-action="Criar" method="post">

        <label for="name">Nome Completo:</label><br>
        <input type="text" asp-for="Name" id="name" name="name" required><br><br>

        <label for="email">E-mail:</label><br>
        <input type="email" asp-for="Email" id="email" name="Email" required><br><br>

        <label for="senha">Senha:</label><br>
        <input type="password" asp-for="Senha" id="senha" name="Senha" required><br><br>

        <label for="telefone">Telefone:</label><br>
        <input type="text" asp-for="Telefone" id="telefone" name="Telefone" required><br><br>

        <label for="cargo">Cargo do Usuário:</label><br>
        <select id="cargo" asp-for="Cargo" name="cargo" required>
            <option value="Gestor">Gestor</option>
            <option value="Tecnico">Técnico</option>
        </select><br><br>

        <label for="dataCadastro">Data de Cadastro:</label><br>
        <input type="date" asp-for="DataCadastro" id="dataCadastro" name="DataCadastro" readonly><br><br>

        <button type="submit">Cadastrar</button>

    </form>

    <script>
        const hoje = new Date().toISOString().split("T")[0];
        document.getElementById("dataCadastro").value = hoje;
    </script>

</div>