@model List<UsuariosModel>

@{
    ViewData["Title"] = "Usuários";
}

<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<div>
    <h1>Usuários</h1>

    <p><a class="add-usuario" asp-controller="Usuarios" asp-action="Criar">Adicionar Usuário</a></p>

    <table>
        <tr class="tabela-usuario-cabecalho">
            <th class="tabela-usuario-cabecalho-item">NOME</th>
            <th class="tabela-usuario-cabecalho-item">E-MAIL</th>
            <th class="tabela-usuario-cabecalho-item">TELEFONE</th>
            <th class="tabela-usuario-cabecalho-item">CARGO</th>
        </tr>
        <tbody class="tabela-usuario-body">
            @if (Model !=null && Model.Any())
            {
                foreach(UsuariosModel usuario in Model)
                {
                    <tr>
                        <th>@usuario.Name</th>
                        <th>@usuario.Email</th>
                        <th>@usuario.Telefone</th>
                        <th>@usuario.Cargo</th>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>