@model List<UsuariosModel>

@{
    ViewData["Title"] = "Usuários";
}

<div>
    <h1>Usuários</h1>

    <p><a asp-controller="Usuarios" asp-action="Criar">Criar Usuário</a></p>

    <table>
        <tr>
            <th>Nome:</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Cargo</th>
        </tr>
        <tbody>
            @if (Model !=null && Model.Any())
            {
                foreach(UsuariosModel usuario in Model)
                {
                    <tr>
                        <th>@usuario.Name</th>
                        <th>@usuario.Email</th>
                        <th>@usuario.Telefone</th>
                        <th>@usuario.Cargo</th>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>