<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"/>
    <title>@ViewData["Title"] - ControlOS</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <header>

        <div class="logo-area">
            <h1><a class="botao-index-home" asp-controller="Home" asp-action="Index"> CONTROL-OS</a></h1>
        </div>

        <nav class="top-nav">
            <a class="nav-item" asp-controller="OrdensServico" asp-action="Index">Ordens de Serviço</a>
            <a class="nav-item" asp-controller="Usuarios" asp-action="Index">Usuários</a>
            <a class="nav-item" asp-controller="Clientes" asp-action="Index">Clientes</a>
        </nav>

    </header>


    <div class="container">

        <main>
            @RenderBody()
        </main>

    </div>
</body>
</html>
