<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"/>
    <title>@ViewData["Title"] - ControlOS</title>
    <link rel="stylesheet" href="~/ControlOS.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <h1>Control OS</h1>
    </header>

    <div class="container">

        <aside class="menu-fixo-lateral">
            <nav>
                <ul>
                    <li><a asp-controller="ListaOrdemServico" asp-action="Index">Ordens de Serviço</a></li>
                    <li><a asp-controller="Relatorios" asp-action="Index">Relatórios</a></li>
                    <li><a asp-controller="Usuarios" asp-action="Index">Usuarios</a></li>
                    <li><a asp-controller="Clientes" asp-action="Index">Clientes</a></li>
                </ul>
            </nav>
        </aside>

        <main>
            @RenderBody()
        </main>

    </div>
</body>
</html>
