header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.menu-fixo-lateral {
    background-color: #0F0AA6;
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 6px 16px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.menu-fixo-lateral a {
    text-decoration-line: none;
    font-family: "Montserrat", sans-serif;
    font-size:30px;
}

    main {
        width: 85%;
        margin-left:1%;
        height: 100%;
    }
