@model ClientesModel

@{
    ViewData["Title"] = "Cadastrar Cliente";
}

<div>
    <h1>Cadastrar Clientes</h1>
</div>

<div class="container-clientes">

    <form asp-controller="Clientes" asp-action="Criar" method="post">

        <label for="nomerazao">Nome ou Razão Social</label><br>
        <input type="text" asp-for="NomeRazao" id="nomerazao" name="nomerazao" required><br><br>

        <label for="email">E-mail:</label><br>
        <input type="email" asp-for="Email" id="email" name="Email"><br><br>

        <label for="telefone">Telefone:</label><br>
        <input type="text" asp-for="Telefone" id="telefone" name="Telefone" required><br><br>

        <label for="cpfcnpj">CPF ou CNPJ:</label><br>
        <input type="text" asp-for="CpfCnpj" id="cpfcnpj" name="cpfcnpj" required><br><br>

        <label for="rua">Rua:</label><br>
        <input type="text" asp-for="Rua" id="rua" name="Rua" required><br><br>

        <label for="Numero">Número:</label><br>
        <input type="text" asp-for="Numero" id="Numero" name="Numero" required><br><br>

        <label for="complemento">Complemento:</label><br>
        <input type="text" asp-for="Complemento" id="complemento" name="complemento" required><br><br>

        <label for="cidade">Cidade:</label><br>
        <input type="text" asp-for="Cidade" id="cidade" name="Cidade" required><br><br>

        <label for="bairro">Bairro:</label><br>
        <input type="text" asp-for="Bairro" id="bairro" name="Bairro" required><br><br>

        <label for="cep">CEP:</label><br>
        <input type="text" asp-for="CEP" id="cep" name="CEP" required><br><br>

        <label for="dataCadastro">Data de Cadastro:</label><br>
        <input type="date" asp-for="DataCadastro" id="dataCadastro" name="DataCadastro" readonly><br><br>

        <button type="submit">Cadastrar</button>

    </form>

    <script>
        const hoje = new Date().toISOString().split("T")[0];
        document.getElementById("dataCadastro").value = hoje;
    </script>

</div>