*[b-w57a6yasvx] {
    margin:0;
    padding:0;
}
.container[b-w57a6yasvx] {
    display: flex;
    flex-direction: row;
    height:100vh;
}
.menu-fixo-lateral[b-w57a6yasvx] {
    border: solid 2px #000000;
    width: 15%;
    height: 100%;

}
main[b-w57a6yasvx]{
    width:85%;
    height:100%;
    background-color:#808080;
}